* {
    padding: 5px;
    margin: 5px;
    background-color: white;
}
.app {
    width: 80%;
    height: 70%;
    margin: 0px auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title {
    padding: 8px 100px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin: 4px 2px;
}
label {
    font-weight: bold;
}
select {
    width: 117px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
option {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.execute {
    padding: 8px 100px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.success {
    color: green;
    font-weight: bold;
}
.error {
    color: red;
    font-weight: bold;
}